{#
/**
 * @file financial_doc.html.twig
 * Default theme implementation to present Financial Document data.
 *
 * This template is used when viewing Financial Document pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_financial_doc()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('financial_doc') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
