{#
/**
 * @file finance_supplier.html.twig
 * Default theme implementation to present Finance Supplier data.
 *
 * This template is used when viewing Financial Document pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_finance_supplier()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('finance_supplier') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
